<% if pathway_path == "/RePEc" %>
  <%= link_to 'RePEc', "/RePEc/cda" %>

<% elsif pathway_path == "/RePEc/cda" %>
  <%= link_to '[To Parent Directory]', "/RePEc" %> <br /><br />

  <%= link_to 'cdaarch.rdf' %> <br /><br />
  <%= link_to 'cdaseri.rdf' %> <br /><br />
  <%= link_to 'cda', "/RePEc/cda/wpaper" %>

<% elsif pathway_path == "/RePEc/cda/wpaper" %>
  <%= link_to '[To Parent Directory]', "/RePEc/cda" %> <br /><br />

  <% Paper.all.each do |paper| %>
    <a href="some_link"><%= paper.paper_number %>.rdf</a><br /><br />
  <% end %>

<% else %>
     <%= link_to 'RePEc', "/RePEc/cda" %>
<% end %>
