<%= stylesheet_link_tag 'authors', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">

<div id="breadcrumb">
  <ol class="breadcrumb">
    <li class="active">
    Articles
    </li>
  </ol>
</div>

<div data-behavior="batch-actions-container">
  <div id="actions">
    <div class="float-left">
      <%= link_to 'Select all', new_author_path, class: "btn btn-outline-secondary" %>
      <a class="btn btn-outline-secondary" data-behavior="batch-actions-select batch-actions-select-none" href="#">Deselect all</a>
    </div>
    <div class="float-right">
      <%= link_to 'Create Author', new_author_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>

<%= form_tag destroy_multiple_authors_path, method: :delete do %>
  <div id="table" class="table-responsive">
    <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th></th>
        <th scope="col">Authors</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @authors.each do |author| %>
        <tr>
          <td align="center">
            <%= check_box_tag "authors[]", author.id, false, class: 'selectable' %>
          </td>
          <td scope="row"><%= author.name %></td>
          <td>
            <div class="btn-group float-right">
              <%= link_to 'Show', author, class: "btn btn-outline-secondary btn-sm" %>
              <%= link_to 'Edit', edit_author_path(author), class: "btn btn-outline-secondary outline btn-sm" %>
              <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  </div>

  <div class="pagination-entries float-right hidden-xs">
    Showing <%= @authors.each.count %> out of <%= @authors.count %> authors
  </div>

<%= submit_tag "Destroy", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
<% end %>

  <div>
    <%= will_paginate @authors, renderer: BootstrapPagination::Rails  %>
  </div>

</div>
