<%= stylesheet_link_tag 'authors', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <table class="table table-bordered" id="show_table">
    <tr>
      <th>Author</th>
      <td><%= @author.name %></td>
    </tr>
    <tr>
      <th>Published at</th>
      <td><%= @author.created_at.in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y at %l:%M %p') %></td>
    </tr>
    <tr>
      <th>Updated at</th>
      <td><%= @author.updated_at.in_time_zone('Pacific Time (US & Canada)').strftime('%B %e, %Y at %l:%M %p') %></td>
    </tr>
  </table>

  <div class="float-right">
    <%= link_to edit_author_path(@author), class: "btn btn-outline-secondary" do %>
      <i class="fas fa-user-edit"></i> Edit
    <% end %>
    <%= link_to authors_path, class: "btn btn-outline-secondary" do %>
      Back <i class="fas fa-arrow-right"></i> 
    <% end %>
  </div>
</div>
