<%= stylesheet_link_tag 'authors', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @author.name %>
</p>

<button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Edit', edit_author_path(@author), {:style=>'color:#333333;', :class => "css_class"} %></button>
<button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Back', authors_path, {:style=>'color:#333333;', :class => "css_class"} %></button>
