<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h4>
      <ul>
        <% paper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="create form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="create form-group">
      <%= form.label :abstract %>
      <%= form.text_area :abstract, :size => "60x12", class: "form-control", placeholder: "Abstract" %>
    </div>

    <div class="create form-group">
      <%= form.label :keywords %>
      <%= form.text_field :keywords, class: "form-control", placeholder: "Keywords" %>
    </div>

    <div class="create form-group">
      <h3>All Authors</h3>
        <div id="authors_boxed_list">
          <ul>
            <% Author.order('lower(name)').all.each do |author| %>
              <% checked = @paper.authors.include?(author) %>
                <span class="three columns alpha">
                  <label>
                    <%= check_box_tag "paper[author_ids][]", author.id, checked %>
                    <span class="gig-check"><%= author.name %></span>
                  </label>
                </span>
            <% end %>
          </ul>
        </div>
    </div>

    <div id="navigation_button">
      <%= link_to new_author_path, class: "btn btn-outline-secondary" do %>
        <i class="fas fa-user-plus"></i> Create new author
      <% end %>
    </div>

    <div class="create form-group" id="papers_creation_dati">
      <%= form.label :creation_date %>
      <%= form.text_field :creation_date, class: "form-control", id: "datepicker", placeholder: "Creation date" %>
    </div>

    <div class="create form-group">
      <%= form.label :classification %>
      <%= form.text_field :classification_jel, class: "form-control", placeholder: "Classification" %>
    </div>

    <div class="create form-group">
      <%= form.label :paper_length %>
      <%= form.text_field :paper_length, class: "form-control", placeholder: "Paper length" %>
    </div>

    <div id="file_upload">
      <strong><%= form.label :file_upload %></strong><br>
      <%= form.file_field :file %>
    </div>

    <div class="actions" id="submit_button">
      <%= form.submit class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
