<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h4>
      <ul>
        <% paper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <div class="create form-group">
      <%= form.label :title %> (required)
      <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
    </div>

    <div class="create form-group">
      <%= form.label :abstract %> (required)
      <%= form.text_area :abstract, :size => "60x12", class: "form-control", placeholder: "Abstract" %>
    </div>

    <div class="create form-group">
      <%= form.label :keywords %> (comma-separated)
      <%= form.text_field :keywords, class: "form-control", placeholder: "Keywords" %>
    </div>

    <div class="create form-group">
      <h3>Authors:
        <span class="small text-muted">
          <%= @paper.authors.map { |author| author.name }.join(', ') %>
        </span>
      </h3>
      <div>(number authors in order, at least one required)</div>
        <div id="authors_boxed_list">
          <ul>
            <% Author.order('lower(name)').all.each do |author| %>
              <% @ranks ? rank = @ranks[author.id] : rank = nil %>
                <span class="three columns alpha">
                  <label>
                    <%= number_field_tag "paper[ranks][#{author.id}]", rank, {min: 1, max: 99} %>
                    <span class="gig-check"><%= author.name %></span>
                  </label>
                </span>
            <% end %>
          </ul>
        </div>
    </div>

    <div id="navigation_button">
      <%= link_to new_author_path, class: "btn btn-outline-secondary" do %>
        <i class="fas fa-user-plus"></i> Create new author
      <% end %>
    </div>

    <div class="create form-group" id="papers_creation_dati">
      <%= form.label :creation_date %> (date paper was written)
      <%= form.text_field :creation_date, class: "form-control", id: "datepicker", placeholder: "Creation date" %>
    </div>

    <div class="create form-group">
      <%= form.label :classification %> (use Journal of Economic Literature codes from this <a href="https://ideas.repec.org/j/" target="_blank">list</a>)
      <%= form.text_field :classification_jel, class: "form-control", placeholder: "Classification" %>
    </div>

    <div class="create form-group">
      <%= form.label :paper_length %> (number of pages if printed)
      <%= form.text_field :paper_length, class: "form-control", placeholder: "Paper length" %>
    </div>

    <div id="file_upload">
      <strong><%= form.label :file_upload %> (required)</strong><br>
      <%= form.file_field :file %>
    </div>

    <div class="actions" id="submit_button">
      <%= form.submit "Add Paper", class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>
