<%= form_with(model: paper, local: true) do |form| %>
  <% if paper.errors.any? %>
    <div class="alert alert-danger" id="error_explanation">
      <h2><%= pluralize(paper.errors.count, "error") %> prohibited this paper from being saved:</h2>

      <ul>
        <% paper.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :date, class: "form-control", id: "datepicker" %>

  <script>
   $(function() {
   $( "#datepicker" ).datepicker();
   });
  </script>

  <div id="form">
    <div class="create form-group">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control", placeholder: "Title", size: 100 %>
    </div>

    <div class="create form-group">
      <%= form.label :abstract %>
      <%= form.text_area :abstract, :size => "60x12", class: "form-control", placeholder: "Abstract" %>
    </div>

    <div class="create form-group">
      <%= form.label :keywords %>
      <%= form.text_field :keywords, class: "form-control", placeholder: "Keywords", size: 100 %>
    </div>

    <div class="create form-group">
      <%= form.label :creation_date %>
      <%= form.text_field :creation_date, "id" => 'datepicker', class: "form-control", placeholder: "Creation Date", size: 100 %>
    </div>



    <div class="create form-group">
      <%= form.label :classification %>
      <%= form.text_field :classification_jel, class: "form-control", placeholder: "Classification", size: 100 %>
    </div>

    <div class="create form-group">
      <%= form.label :paper_length %>
      <%= form.text_field :paper_length, class: "form-control", placeholder: "Paper length", size: 100 %>
    </div>

    <div class="create form-group">
      <h3>All Authors</h3>
        <div id="authors_boxed_list">
          <ul>
            <% Author.order('lower(name)').all.each do |author| %>
              <% checked = @paper.authors.include?(author) %>
                <span class="three columns alpha">
                  <label>
                    <%= check_box_tag "paper[author_ids][]", author.id, checked %>
                    <span class="gig-check"><%= author.name %></span>
                  </label>
                </span>
            <% end %>
          </ul>
        </div>
    </div>

    <div id="create_new_author_button">
      <%= link_to 'Create new author', new_author_path, class: "btn btn-secondary" %>
    </div>

    <div class="actions" id="submit_button">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
