<%= stylesheet_link_tag 'papers', media: 'all', 'data-turbolinks-track': 'reload' %>

<p id="notice"><%= notice %></p>

<h1> Papers </h1>

<br>

<button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'New Paper', new_paper_path, {:style=>'color:#333333;', :class => "css_class"} %></button>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col">Authors</th>
      <th scope="col">Title</th>
      <th scope="col">Published at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td scope="row"> <% paper.authors.each do |author| %>
              <%= author.name %> <br>
            <% end %>
        </td>
        <td scope="row"><%= paper.title %></td>
        <td scope="row"><%= paper.created_at %></td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Show', paper, {:style=>'color:#333333;', :class => "css_class"} %></button>
            <button type="button" class="btn btn-primary btn-outline-dark"><%= link_to 'Edit', edit_paper_path(paper), {:style=>'color:#333333;', :class => "css_class"} %> </button>
            <button type="button" class="btn btn-danger"><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
