<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @paper.title %>
</p>

<p>
  <strong>Abstract:</strong>
  <%= @paper.abstract %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @paper.keywords %>
</p>

<p>
  <strong>Creation Date:</strong>
  <%= @paper.creation_date %>
</p>

<%= link_to 'Edit', edit_paper_path(@paper), class: "btn btn-default outline" %>
<%= link_to 'Back', papers_path, class: "btn btn-default outline" %>
